<section id="Pedido">
  <h2>PEDIDO REALIZADO</h2>
  <div id="pagos">
    <span> A pagar : </span
    ><!--cantidadd a pagar-->
    <span> €</span>
    <br />
    <span> Descuentos:</span
    ><!--descuento-->
    <span> €</span>
    <br />
    <span>Total :</span
    ><!--total-->
    <span> €</span>
    <br />
  </div>
  <h2>DATOS DE ENTREGA</h2>
  <form id="formPedido" name="formPedido">
    <label for="nombre">NOMBRE </label
    ><input
      type="text"
      class="form-control"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
    />

    <label for="edad"> EDAD </label
    ><input type="text" class="form-control" name="edad" id="edad" />
    <label for="direccion">DIRECCION </label>
    <input
      type="text"
      class="form-control"
      name="direccion"
      id="direccion"
      placeholder="Direccion"
    />
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
  </form>
  <div id="botones">
    <button id="btnComprar">COMPRAR</button>

    <button id="btnCancelar">CANCELAR</button>
  </div>
</section>
